XR_Interaction/Library
XR_Interaction/Logs
XR_Interaction/UserSettings
*.csproj
*.sln
XR_Interaction/Temp
XR_Interaction/Assets/Resources/HuggingFaceAPIConfig.asset
XR_Interaction/Assets/Resources/HuggingFaceAPIConfig.asset.meta
XR_Interaction/Builds
*.apk
env310
.vs/
