*.onnx filter=lfs diff=lfs merge=lfs -text
XR_Interaction/Assets/Models/Assets%2FData%2Fvocab.json filter=lfs diff=lfs merge=lfs -text
XR_Interaction/Assets/3rd[[:space:]]Party/Models/HumanHeart_FBX.fbx filter=lfs diff=lfs merge=lfs -text
